<article class="post card-body">
    <div>
        <a href="{{post_url}}" class="card-title" target="_blank">{{title}}</a>
        <span class="card-subtitle text-muted">({{format_url post_url}})</span>
    </div>
    <div>
        {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>